@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'Kapakana';
    src: url('/fonts/Kapakana-Regular.woff2') format('woff2'),
        url('/fonts/Kapakana-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mogan';
    src: url('/fonts/Mogan-Regular.woff2') format('woff2'),
        url('/fonts/Mogan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

.mogan-font {
    font-family: 'Mogan', sans-serif;
}

.kapakana-font {
    font-family: 'Kapakana', sans-serif;
}

.figtree-font {
    font-family: 'Figtree', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 350px;
    padding: 1px;
}
  
::-webkit-scrollbar-track {
    background: #E7E7E7;
}
  
::-webkit-scrollbar-thumb {
    background: #B8B8B8;
    border-radius: 0px;
    max-height: 137px;
    max-width: 4px;  
    border: 2px solid transparent;
    background-clip: content-box;
}

